/* .table-view{
    -fx-font-family: "Cambria";
    -fx-font-size: 10pt;
}

.table-view .column-header {
    -fx-font-family: "Cambria";
    -fx-font-size: 10pt;
}

.table-view .table-cell {
	-fx-padding: 0.1em;
    -fx-font-family: "Cambria";
    -fx-font-size: 10pt;
}

.table-row-cell{
    -fx-padding: 0.1em;
    -fx-font-family: "Cambria";
    -fx-font-size: 10pt;
}

 */